# Project related
assets/css/*
assets/fonts/vendor/*
assets/js/*
!assets/js/**/
assets/js/vendor/*
!assets/js/vendor/modernizr
inc/vendor/*

# Components
bower_components/
node_modules/
!.gitignore

# IDE
sftp-config.json
*.sublime-workspace
*.sublime-project
*.esproj
*.bak

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Linux
*~
.directory

# Windows stuff
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
