/* =============================================================================
   Fonts
   ========================================================================== */

.font-face( @family, @file, @weight: 400, @style: normal ) {
	@font-face {
		font-family: @family;
		font-weight: @weight;
		font-style: @style;
		src: url('../fonts/@{file}.eot');
		src: url('../fonts/@{file}.eot?#iefix') format('embedded-opentype'),
		     url('../fonts/@{file}.woff') format('woff'),
		     url('../fonts/@{file}.ttf') format('truetype'),
			 url('../fonts/@{file}.svg#@{file}') format('svg');
	}
}

.font-face( 'Gravia', 'graviathi', 200 );
.font-face( 'Gravia', 'gravialig', 300 );
.font-face( 'Gravia', 'graviareg', 400 );
.font-face( 'Gravia', 'graviabol', 700 );
.font-face( 'Gravia', 'graviabla', 900 );
