/* =============================================================================
   Index Posts
   ========================================================================== */

.post-excerpt {
    position: relative;
    border-bottom: 1px dotted @vc_black;
    margin-bottom: 40px;

    .entry-header {
        margin-bottom: 10px;
    }

    .entry-title,
    .entry-date {
        color: #fff;
        font-weight: 300;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 1.2;
    }

    .entry-title {
        margin: 0;
        background: @vc_black;
        padding: 0;
        text-transform: uppercase;
        letter-spacing: .1em;
        border-top: none;

        a {
            padding: .75em 120px .55em .8em;
            display: block;
            color: #fff;
            text-decoration: none;

            &:hover {
                color: darken(#fff,20%);
            }

        }

    }

    &.with-thumb {

        .entry-title a {
            padding-right: .8em;
        }

    }

    .entry-date {
        position: absolute;
        z-index: 1;
        right: 0;
        padding: .75em .8em .55em .8em;
        top: 0;
        display: block;
        background: @vc_blue;
        text-align: center;
        font-weight: 300;
    }

    .entry-thumb {
        width: 100%;
        height: auto;
    }

    .entry-link {
        display: none;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &, .glyphicon {
            transition: transform .4s ease-in-out,
                        background-color .4s ease-in-out;
        }

        .glyphicon {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -.5em 0 0 -.5em;
            width: 1em;
            height: 1em;
            color: fade( #fff, 80% );
            font-size: 100px;
            text-align: center;
            transform: scale(0,0)
                       rotate(360deg);
        }

        &:hover {

            background: fade( @vc_blue, 30% );

            .glyphicon {
                transform: scale(1,1) rotate(0deg);
            }

        }

    }

}



/* =============================================================================
   Index Pagination
   ========================================================================== */

@pagination_size: 60px;

.pagination-links {
    text-align: justify;
    width: 100%;
    .text-zero;

    &:after {
        content: '';
        width: 100%;
        display: inline-block;
    }

    .pagination-link {
        font-size: ( @pagination_size * .6 );
        text-align: center;
        color: #fff;
        .transition-duration(.4s);
        .transition-transform(transform);

        &, .glyphicon:before {
            display: inline-block;
            width: @pagination_size;
            height: @pagination_size;
            line-height: @pagination_size;
        }
    }

    span.pagination-link {
        opacity: 0;
    }

    a.pagination-link {
        text-decoration: none;
        background: @vc_gray;

        &:hover {
            background: @vc_blue;
        }

    }

}

